name: Build Android APK (Kivy)

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential libffi-dev envtpl python3-dev \
          libssl-dev zlib1g-dev libncurses5-dev libncursesw5-dev \
          libreadline-dev libsqlite3-dev libgdbm-dev libdb5.3-dev \
          libbz2-dev expat liblzma-dev tk-dev unzip zip \
          openjdk-17-jdk

      - name: Install Buildozer
        run: |
          pip install --upgrade pip
          pip install buildozer cython kivy

      - name: Build APK
        run: |
          # هذه الخطوة ستقوم بتحميل الـ SDK تلقائياً والتعامل مع التراخيص
          # تأكد أن ملف Jard5.py موجود في المستودع (Repository)
          yes | buildozer -v android debug
        env:
          # لتجاوز مشكلة التراخيص برمجياً
          APP_ANDROID_ACCEPT_SDK_LICENSE: "1"

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Zummaria-Inventory-APK
          path: bin/*.apk
          
